@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --raw-pink: #FE75B0;
  --raw-pinkbg: #FF74B1;
  --raw-dark: #3E2723;
  --raw-cream: #FAF6F0;
  --raw-pink-light: #F5E6E6;
}

@theme {
  --color-cafe-pink: var(--raw-pink);
  --color-cafe-dark: var(--raw-dark);
  --color-cafe-cream: var(--raw-cream);
  --color-cafe-pink-light: var(--raw-pink-light);

  --font-sans: var(--font-poppins), sans-serif;
}
